<ul>
<% @tasks.each do |task| %>
  <li>
    <input <% if task.completed %> checked <% end %> a id="checkbox<%task.id%>" type="checkbox">
    <label for="checkbox<%task.id%>"><%= task.title %>: <%= task.details %></label>
  </li>
<% end %>
</ul>
