<div class="d-flex justify-content-between align-items-center">
<h1 class="display-4"><%= @task.title %></h1>
<%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-primary" %>
</div>
<p class="lead text-wrap"><%= @task.details %></p>

<div class="form-check">
  <input <% if @task.completed %> checked <% end %> a id="checkbox<%@task.id%>" type="checkbox" class="form-check-input">
  <%if @task.completed%>
    <label for="checkbox<%@task.id%>" class="form-check-label">You already completed this task</label>
  <%else%>
    <label for="checkbox<%@task.id%>" class="form-check-label">Task is not completed yet</label>
  <%end%>
</div>

<div class="text-center mt-4">
<%= link_to "Back to Tasks", tasks_path, class: "btn btn-outline-secondary" %>
</div>
